body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

#login-container, #chat-container {
    width: 400px;
    max-width: 100%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-top: 5px solid #74ebd5;
    border-bottom: 5px solid #acb6e5;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    position: relative;
    animation: fadeIn 0.3s ease-in;
}

.message.sender {
    background-color: #74ebd5;  /* Vert clair */
    align-self: flex-start;
    color: #333;
    border-radius: 15px 15px 15px 0;  /* Coin inférieur gauche arrondi */
}

.message.receiver {
    background-color: #acb6e5;  /* Mauve clair */
    align-self: flex-end;
    color: #fff;
    border-radius: 15px 15px 0 15px;  /* Coin inférieur droit arrondi */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

#typing-indicator {
    font-style: italic;
    color: #555;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
}

#input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
}

#message-form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

#message-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#message-form button:hover {
    background-color: #0056b3;
}
